{% extends 'base.html.twig' %}

{% block body %}
    <h3>Recherche</h3>
    {{ form(search_form) }}
    <h3>Résultat de la recherche</h3>
    <table class="table table-bordered table-striped">
        <tr>
            <th> Campus </th>
            <th> Actions </th>
        </tr>
        {% if campus |length > 0 %}
            {% for c in campus %}
                <tr>
                    <td>{{ c.campusName }}</td>
                    <td>
                        <p>Modifier</p>

                        <a href="{{ path('delete_campus', {'id': c.id}) }}">Supprimer</a>

                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>Aucun résultat pour votre recherche</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
