{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon Profil</h1><br>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button type="submit">Enregistrer</button>
    <button type="submit">Annuler</button>
    {{ form_end(userForm) }}
{% endblock %}